<Configuration status="WARN">
    <Loggers>
        <!-- Hibernate Logs -->
        <Logger name="org.hibernate" level="off"/>
        <Logger name="org.hibernate.engine.jdbc" level="off"/>
        <Logger name="org.hibernate.dialect" level="off"/>
        <Logger name="org.hibernate.cache" level="off"/>
        <Logger name="org.hibernate.validator" level="off"/>
        <Logger name="org.hibernate.resource.transaction" level="off"/>

        <!-- Root logger -->
        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
